{% load staticfiles %}

<img src='{% static "gif/Armored Titan.gif" %}' alt=""/>
<p>The Colossal Titan (超大型巨人 Chō ōgata Kyojin?) is a Titan power that is currently inherited by Bertholdt Hoover. It is
    humanity's greatest threat. It first appeared five years ago during the fall of Wall Maria and returned five years
    later at Trost.</p>

<p>The Armored Titan (鎧の巨人 Yoroi no Kyojin?) is one of the Nine Titans that possesses armored plates of skin across its
    body. It is currently in the possession of Reiner Braun, although Gabi Braun and Falco Grice are two candidates
    considered to inherit the power from him.</p>
